<div mat-dialog-content>
    <p style="text-align: center;"><strong>Delete EVSE</strong></p>
    <hr>
    <p>Are you sure you want to delete this EVSE?</p>
    <hr>
</div>
<div align="center" mat-dialog-actions>
    <button class="mat-button" mat-raised-button (click)="onNoClick()">Cancel</button>
    <button class="mat-button rojo letra-blanca" mat-button (click)="delete()" cdkFocusInitial>Delete</button>
</div>

<div *ngIf="loading || server_error" style="margin-top: 3rem;">
    <div style="margin:auto;" *ngIf="loading" class="spinner-border text-primary d-flex justify-content-center"
        role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div style="text-align: center;" class="card">
        <mat-error>{{server_error}}</mat-error>
    </div>
</div>